################   爱好与生活习惯数据集 ################

In [109]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [110]:
df=pd.read_csv('./dataset/关联分析/爱好与生活习惯调查数据集/responses.csv')
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [111]:
data=df.iloc[:,:10]
data

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1005,5.0,2.0,5.0,2.0,2.0,5.0,4.0,4.0,4.0,3.0
1006,4.0,4.0,5.0,1.0,3.0,4.0,1.0,4.0,1.0,1.0
1007,4.0,3.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,1.0
1008,5.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,4.0,1.0
1009,5.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,1.0,1.0

In [112]:
columns=data.columns
data

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1005,5.0,2.0,5.0,2.0,2.0,5.0,4.0,4.0,4.0,3.0
1006,4.0,4.0,5.0,1.0,3.0,4.0,1.0,4.0,1.0,1.0
1007,4.0,3.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,1.0
1008,5.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,4.0,1.0
1009,5.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,1.0,1.0

In [113]:
data=pd.DataFrame(np.where(data>=3, int(1), int(0)),columns=columns)
data

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock
0,1,1,0,0,0,0,0,1,1,0
1,1,1,0,0,0,0,0,1,1,1
2,1,1,0,0,1,1,1,1,1,1
3,1,1,0,0,0,0,0,0,0,0
4,1,1,1,1,0,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...
1005,1,0,1,0,0,1,1,1,1,1
1006,1,1,1,0,1,1,0,1,0,0
1007,1,1,0,0,0,0,0,1,1,0
1008,1,1,1,1,0,1,0,1,1,0
1009,1,1,1,1,0,1,1,1,0,0

In [114]:
# 计算频繁项集
frequent_itemsets = apriori(data, min_support=0.7, use_colnames=True)
print(frequent_itemsets)

     support                                 itemsets
0   0.977228                                  (Music)
1   0.909901               (Slow songs or fast songs)
2   0.784158                                    (Pop)
3   0.835644                                   (Rock)
4   0.893069        (Slow songs or fast songs, Music)
5   0.769307                             (Music, Pop)
6   0.822772                            (Rock, Music)
7   0.723762          (Slow songs or fast songs, Pop)
8   0.768317         (Rock, Slow songs or fast songs)
9   0.709901   (Slow songs or fast songs, Music, Pop)
10  0.755446  (Rock, Slow songs or fast songs, Music)

c:\Users\X2931\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [115]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules


# 根据频繁项集生成关联规则
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [116]:
print(rules)

                          antecedents                        consequents  \
0          (Slow songs or fast songs)                            (Music)
1                             (Music)         (Slow songs or fast songs)
2                             (Music)                              (Pop)
3                               (Pop)                            (Music)
4                              (Rock)                            (Music)
5                             (Music)                             (Rock)
6          (Slow songs or fast songs)                              (Pop)
7                               (Pop)         (Slow songs or fast songs)
8                              (Rock)         (Slow songs or fast songs)
9          (Slow songs or fast songs)                             (Rock)
10  (Slow songs or fast songs, Music)                              (Pop)
11    (Slow songs or fast songs, Pop)                            (Music)
12                       (Music, Pop)         (Slow songs or fast songs)
13         (Slow songs or fast songs)                       (Music, Pop)
14                            (Music)    (Slow songs or fast songs, Pop)
15                              (Pop)  (Slow songs or fast songs, Music)
16   (Rock, Slow songs or fast songs)                            (Music)
17                      (Rock, Music)         (Slow songs or fast songs)
18  (Slow songs or fast songs, Music)                             (Rock)
19                             (Rock)  (Slow songs or fast songs, Music)
20         (Slow songs or fast songs)                      (Rock, Music)
21                            (Music)   (Rock, Slow songs or fast songs)

    antecedent support  consequent support   support  confidence      lift  \
0             0.909901            0.977228  0.893069    0.981502  1.004374
1             0.977228            0.909901  0.893069    0.913880  1.004374
2             0.977228            0.784158  0.769307    0.787234  1.003922
3             0.784158            0.977228  0.769307    0.981061  1.003922
4             0.835644            0.977228  0.822772    0.984597  1.007541
5             0.977228            0.835644  0.822772    0.841945  1.007541
6             0.909901            0.784158  0.723762    0.795430  1.014374
7             0.784158            0.909901  0.723762    0.922980  1.014374
8             0.835644            0.909901  0.768317    0.919431  1.010474
9             0.909901            0.835644  0.768317    0.844396  1.010474
10            0.893069            0.784158  0.709901    0.794900  1.013699
11            0.723762            0.977228  0.709901    0.980848  1.003705
12            0.769307            0.909901  0.709901    0.922780  1.014154
13            0.909901            0.769307  0.709901    0.780196  1.014154
14            0.977228            0.723762  0.709901    0.726444  1.003705
15            0.784158            0.893069  0.709901    0.905303  1.013699
16            0.768317            0.977228  0.755446    0.983247  1.006160
17            0.822772            0.909901  0.755446    0.918171  1.009089
18            0.893069            0.835644  0.755446    0.845898  1.012271
19            0.835644            0.893069  0.755446    0.904028  1.012271
20            0.909901            0.822772  0.755446    0.830250  1.009089
21            0.977228            0.768317  0.755446    0.773050  1.006160

    leverage  conviction  zhangs_metric
0   0.003889    1.231043       0.048330
1   0.003889    1.046209       0.191218
2   0.003006    1.014455       0.171563
3   0.003006    1.202376       0.018101
4   0.006158    1.478446       0.045540
5   0.006158    1.039871       0.328677
6   0.010256    1.055098       0.157274
7   0.010256    1.169810       0.065651
8   0.007964    1.118288       0.063067
9   0.007964    1.056249       0.115045
10  0.009593    1.052374       0.126375
11  0.002620    1.189038       0.013362
12  0.009908    1.166782       0.060499
13  0.009908    1.049539       0.154904
14  0.002620    1.009802       0.162088
15  0.009593    1.129188       0.062608
16  0.004625    1.359330       0.026425
17  0.006804    1.101063       0.050821
18  0.009158    1.066543       0.113368
19  0.009158    1.114191       0.073758
20  0.006804    1.044053       0.099967
21  0.004625    1.020854       0.268847

In [117]:
# 打印关联规则
for _, rule in rules.iterrows():
    antecedents = ", ".join([str(item) for item in rule['antecedents']])
    consequents = ", ".join([str(item) for item in rule['consequents']])
    print(f"Rule: {antecedents} -> {consequents}")
    print(f"Support: {rule['support']}")
    print(f"Confidence: {rule['confidence']}")
    print()

Rule: Slow songs or fast songs -> Music
Support: 0.8930693069306931
Confidence: 0.9815016322089227

Rule: Music -> Slow songs or fast songs
Support: 0.8930693069306931
Confidence: 0.9138804457953394

Rule: Music -> Pop
Support: 0.7693069306930693
Confidence: 0.7872340425531915

Rule: Pop -> Music
Support: 0.7693069306930693
Confidence: 0.9810606060606061

Rule: Rock -> Music
Support: 0.8227722772277227
Confidence: 0.9845971563981043

Rule: Music -> Rock
Support: 0.8227722772277227
Confidence: 0.8419452887537994

Rule: Slow songs or fast songs -> Pop
Support: 0.7237623762376237
Confidence: 0.795429815016322

Rule: Pop -> Slow songs or fast songs
Support: 0.7237623762376237
Confidence: 0.9229797979797979

Rule: Rock -> Slow songs or fast songs
Support: 0.7683168316831683
Confidence: 0.9194312796208531

Rule: Slow songs or fast songs -> Rock
Support: 0.7683168316831683
Confidence: 0.8443960826985855

Rule: Slow songs or fast songs, Music -> Pop
Support: 0.7099009900990099
Confidence: 0.7949002217294899

Rule: Slow songs or fast songs, Pop -> Music
Support: 0.7099009900990099
Confidence: 0.9808481532147743

Rule: Music, Pop -> Slow songs or fast songs
Support: 0.7099009900990099
Confidence: 0.9227799227799227

Rule: Slow songs or fast songs -> Music, Pop
Support: 0.7099009900990099
Confidence: 0.780195865070729

Rule: Music -> Slow songs or fast songs, Pop
Support: 0.7099009900990099
Confidence: 0.7264437689969605

Rule: Pop -> Slow songs or fast songs, Music
Support: 0.7099009900990099
Confidence: 0.9053030303030303

Rule: Rock, Slow songs or fast songs -> Music
Support: 0.7554455445544555
Confidence: 0.9832474226804123

Rule: Rock, Music -> Slow songs or fast songs
Support: 0.7554455445544555
Confidence: 0.9181708784596871

Rule: Slow songs or fast songs, Music -> Rock
Support: 0.7554455445544555
Confidence: 0.8458980044345898

Rule: Rock -> Slow songs or fast songs, Music
Support: 0.7554455445544555
Confidence: 0.9040284360189574

Rule: Slow songs or fast songs -> Rock, Music
Support: 0.7554455445544555
Confidence: 0.8302502720348204

Rule: Music -> Rock, Slow songs or fast songs
Support: 0.7554455445544555
Confidence: 0.7730496453900709

#################################电影数据集######################################

In [118]:
import os
import pandas as pd
import numpy as np
import sys
from operator import itemgetter
from collections import defaultdict

In [119]:
# 加载数据
all_ratings = pd.read_csv("./dataset/关联分析/电影推荐数据集/ratings.csv")
all_movies =pd.read_csv('./dataset/关联分析/电影推荐数据集/movies.csv')

In [120]:
all_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [121]:
all_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [122]:
all_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [123]:
# 使用 merge 方法连接两个 DataFrame
merged_df = pd.merge(all_ratings,all_movies, on='movieId')
merged_df

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,7,31,3.0,851868750,Dangerous Minds (1995),Drama
2,31,31,4.0,1273541953,Dangerous Minds (1995),Drama
3,32,31,4.0,834828440,Dangerous Minds (1995),Drama
4,36,31,3.0,847057202,Dangerous Minds (1995),Drama
...,...,...,...,...,...,...
99999,664,64997,2.5,1343761859,War of the Worlds (2005),Action|Sci-Fi
100000,664,72380,3.5,1344435977,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller
100001,665,129,3.0,995232528,Pie in the Sky (1996),Comedy|Romance
100002,665,4736,1.0,1010197684,Summer Catch (2001),Comedy|Drama|Romance
100003,668,6425,1.0,993613478,"6th Man, The (Sixth Man, The) (1997)",Comedy

In [132]:
# 电影分数都有哪几档
merged_df["rating"].unique().tolist()

[2.5, 3.0, 4.0, 3.5, 1.5, 4.5, 2.0, 5.0, 1.0, 0.5]

In [133]:
# 解析时间戳
merged_df["timestamp"] = pd.to_datetime(merged_df["timestamp"], unit='s')
merged_df["timestamp"]

0        2009-12-14 02:52:24
1        1996-12-29 14:12:30
2        2010-05-11 01:39:13
3        1996-06-15 08:47:20
4        1996-11-03 21:40:02
                 ...
99999    2012-07-31 19:10:59
100000   2012-08-08 14:26:17
100001   2001-07-15 21:28:48
100002   2002-01-05 02:28:04
100003   2001-06-27 03:44:38
Name: timestamp, Length: 100004, dtype: datetime64[ns]

In [135]:
# 用户是不是喜欢某一部电影，评分高于3的认定为喜欢
merged_df['Favorable'] = merged_df['rating'] > 3
merged_df

,userId,movieId,rating,timestamp,title,genres,Favorable
0,1,31,2.5,2009-12-14 02:52:24,Dangerous Minds (1995),Drama,False
1,7,31,3.0,1996-12-29 14:12:30,Dangerous Minds (1995),Drama,False
2,31,31,4.0,2010-05-11 01:39:13,Dangerous Minds (1995),Drama,True
3,32,31,4.0,1996-06-15 08:47:20,Dangerous Minds (1995),Drama,True
4,36,31,3.0,1996-11-03 21:40:02,Dangerous Minds (1995),Drama,False
...,...,...,...,...,...,...,...
99999,664,64997,2.5,2012-07-31 19:10:59,War of the Worlds (2005),Action|Sci-Fi,False
100000,664,72380,3.5,2012-08-08 14:26:17,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller,True
100001,665,129,3.0,2001-07-15 21:28:48,Pie in the Sky (1996),Comedy|Romance,False
100002,665,4736,1.0,2002-01-05 02:28:04,Summer Catch (2001),Comedy|Drama|Romance,False
100003,668,6425,1.0,2001-06-27 03:44:38,"6th Man, The (Sixth Man, The) (1997)",Comedy,False

In [139]:
user_movie = merged_df.pivot_table(index = 'userId', columns = 'title', values = 'Favorable')
user_movie

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
bool_data = user_movie.notnull()
bool_data

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
668,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
669,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
670,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [141]:
# 计算频繁项集
frequent_itemsets = apriori(bool_data, min_support=0.3,use_colnames=True)
print(frequent_itemsets)

     support                                           itemsets
0   0.320417                                   (Aladdin (1992))
1   0.327869                           (American Beauty (1999))
2   0.336811                        (Back to the Future (1985))
3   0.339791                                (Braveheart (1995))
4   0.301043                        (Dances with Wolves (1990))
5   0.333830                                     (Fargo (1996))
6   0.301043                                (Fight Club (1999))
7   0.508197                              (Forrest Gump (1994))
8   0.317437                             (Fugitive, The (1993))
9   0.324888             (Independence Day (a.k.a. ID4) (1996))
10  0.408346                             (Jurassic Park (1993))
11  0.385991                               (Matrix, The (1999))
12  0.482861                              (Pulp Fiction (1994))
13  0.327869  (Raiders of the Lost Ark (Indiana Jones and th...
14  0.363636                          (Schindler's List (1993))
15  0.463487                 (Shawshank Redemption, The (1994))
16  0.453055                 (Silence of the Lambs, The (1991))
17  0.433681        (Star Wars: Episode IV - A New Hope (1977))
18  0.348733  (Star Wars: Episode V - The Empire Strikes Bac...
19  0.323398  (Star Wars: Episode VI - Return of the Jedi (1...
20  0.353204                (Terminator 2: Judgment Day (1991))
21  0.368107                                 (Toy Story (1995))
22  0.329359        (Jurassic Park (1993), Forrest Gump (1994))
23  0.344262         (Forrest Gump (1994), Pulp Fiction (1994))
24  0.321908  (Shawshank Redemption, The (1994), Forrest Gum...
25  0.338301  (Forrest Gump (1994), Silence of the Lambs, Th...
26  0.326379  (Shawshank Redemption, The (1994), Pulp Fictio...
27  0.333830  (Pulp Fiction (1994), Silence of the Lambs, Th...
28  0.308495  (Shawshank Redemption, The (1994), Silence of ...
29  0.302534  (Star Wars: Episode V - The Empire Strikes Bac...