################   爱好与生活习惯数据集 ################

In [89]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [90]:
df=pd.read_csv('./dataset/关联分析/爱好与生活习惯调查数据集/responses.csv')
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [91]:
data=df.iloc[:,:10]
data

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1005,5.0,2.0,5.0,2.0,2.0,5.0,4.0,4.0,4.0,3.0
1006,4.0,4.0,5.0,1.0,3.0,4.0,1.0,4.0,1.0,1.0
1007,4.0,3.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,1.0
1008,5.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,4.0,1.0
1009,5.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,1.0,1.0

In [92]:
columns=data.columns
data

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1005,5.0,2.0,5.0,2.0,2.0,5.0,4.0,4.0,4.0,3.0
1006,4.0,4.0,5.0,1.0,3.0,4.0,1.0,4.0,1.0,1.0
1007,4.0,3.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,1.0
1008,5.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,4.0,1.0
1009,5.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,1.0,1.0

In [93]:
data=pd.DataFrame(np.where(data>=3, int(1), int(0)),columns=columns)
data

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock
0,1,1,0,0,0,0,0,1,1,0
1,1,1,0,0,0,0,0,1,1,1
2,1,1,0,0,1,1,1,1,1,1
3,1,1,0,0,0,0,0,0,0,0
4,1,1,1,1,0,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...
1005,1,0,1,0,0,1,1,1,1,1
1006,1,1,1,0,1,1,0,1,0,0
1007,1,1,0,0,0,0,0,1,1,0
1008,1,1,1,1,0,1,0,1,1,0
1009,1,1,1,1,0,1,1,1,0,0

In [94]:
# 计算频繁项集
frequent_itemsets = apriori(data, min_support=0.7, use_colnames=True)
print(frequent_itemsets)

     support                                 itemsets
0   0.977228                                  (Music)
1   0.909901               (Slow songs or fast songs)
2   0.784158                                    (Pop)
3   0.835644                                   (Rock)
4   0.893069        (Music, Slow songs or fast songs)
5   0.769307                             (Music, Pop)
6   0.822772                            (Music, Rock)
7   0.723762          (Pop, Slow songs or fast songs)
8   0.768317         (Slow songs or fast songs, Rock)
9   0.709901   (Music, Pop, Slow songs or fast songs)
10  0.755446  (Music, Slow songs or fast songs, Rock)

c:\Users\X2931\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [95]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules


# 根据频繁项集生成关联规则
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [96]:
print(rules)

                          antecedents                        consequents  \
0                             (Music)         (Slow songs or fast songs)
1          (Slow songs or fast songs)                            (Music)
2                             (Music)                              (Pop)
3                               (Pop)                            (Music)
4                             (Music)                             (Rock)
5                              (Rock)                            (Music)
6                               (Pop)         (Slow songs or fast songs)
7          (Slow songs or fast songs)                              (Pop)
8          (Slow songs or fast songs)                             (Rock)
9                              (Rock)         (Slow songs or fast songs)
10                       (Music, Pop)         (Slow songs or fast songs)
11  (Music, Slow songs or fast songs)                              (Pop)
12    (Pop, Slow songs or fast songs)                            (Music)
13                            (Music)    (Pop, Slow songs or fast songs)
14                              (Pop)  (Music, Slow songs or fast songs)
15         (Slow songs or fast songs)                       (Music, Pop)
16  (Music, Slow songs or fast songs)                             (Rock)
17                      (Music, Rock)         (Slow songs or fast songs)
18   (Slow songs or fast songs, Rock)                            (Music)
19                            (Music)   (Slow songs or fast songs, Rock)
20         (Slow songs or fast songs)                      (Music, Rock)
21                             (Rock)  (Music, Slow songs or fast songs)

    antecedent support  consequent support   support  confidence      lift  \
0             0.977228            0.909901  0.893069    0.913880  1.004374
1             0.909901            0.977228  0.893069    0.981502  1.004374
2             0.977228            0.784158  0.769307    0.787234  1.003922
3             0.784158            0.977228  0.769307    0.981061  1.003922
4             0.977228            0.835644  0.822772    0.841945  1.007541
5             0.835644            0.977228  0.822772    0.984597  1.007541
6             0.784158            0.909901  0.723762    0.922980  1.014374
7             0.909901            0.784158  0.723762    0.795430  1.014374
8             0.909901            0.835644  0.768317    0.844396  1.010474
9             0.835644            0.909901  0.768317    0.919431  1.010474
10            0.769307            0.909901  0.709901    0.922780  1.014154
11            0.893069            0.784158  0.709901    0.794900  1.013699
12            0.723762            0.977228  0.709901    0.980848  1.003705
13            0.977228            0.723762  0.709901    0.726444  1.003705
14            0.784158            0.893069  0.709901    0.905303  1.013699
15            0.909901            0.769307  0.709901    0.780196  1.014154
16            0.893069            0.835644  0.755446    0.845898  1.012271
17            0.822772            0.909901  0.755446    0.918171  1.009089
18            0.768317            0.977228  0.755446    0.983247  1.006160
19            0.977228            0.768317  0.755446    0.773050  1.006160
20            0.909901            0.822772  0.755446    0.830250  1.009089
21            0.835644            0.893069  0.755446    0.904028  1.012271

    leverage  conviction  zhangs_metric
0   0.003889    1.046209       0.191218
1   0.003889    1.231043       0.048330
2   0.003006    1.014455       0.171563
3   0.003006    1.202376       0.018101
4   0.006158    1.039871       0.328677
5   0.006158    1.478446       0.045540
6   0.010256    1.169810       0.065651
7   0.010256    1.055098       0.157274
8   0.007964    1.056249       0.115045
9   0.007964    1.118288       0.063067
10  0.009908    1.166782       0.060499
11  0.009593    1.052374       0.126375
12  0.002620    1.189038       0.013362
13  0.002620    1.009802       0.162088
14  0.009593    1.129188       0.062608
15  0.009908    1.049539       0.154904
16  0.009158    1.066543       0.113368
17  0.006804    1.101063       0.050821
18  0.004625    1.359330       0.026425
19  0.004625    1.020854       0.268847
20  0.006804    1.044053       0.099967
21  0.009158    1.114191       0.073758

In [97]:
# 打印关联规则
for _, rule in rules.iterrows():
    antecedents = ", ".join([str(item) for item in rule['antecedents']])
    consequents = ", ".join([str(item) for item in rule['consequents']])
    print(f"Rule: {antecedents} -> {consequents}")
    print(f"Support: {rule['support']}")
    print(f"Confidence: {rule['confidence']}")
    print()

Rule: Music -> Slow songs or fast songs
Support: 0.8930693069306931
Confidence: 0.9138804457953394

Rule: Slow songs or fast songs -> Music
Support: 0.8930693069306931
Confidence: 0.9815016322089227

Rule: Music -> Pop
Support: 0.7693069306930693
Confidence: 0.7872340425531915

Rule: Pop -> Music
Support: 0.7693069306930693
Confidence: 0.9810606060606061

Rule: Music -> Rock
Support: 0.8227722772277227
Confidence: 0.8419452887537994

Rule: Rock -> Music
Support: 0.8227722772277227
Confidence: 0.9845971563981043

Rule: Pop -> Slow songs or fast songs
Support: 0.7237623762376237
Confidence: 0.9229797979797979

Rule: Slow songs or fast songs -> Pop
Support: 0.7237623762376237
Confidence: 0.795429815016322

Rule: Slow songs or fast songs -> Rock
Support: 0.7683168316831683
Confidence: 0.8443960826985855

Rule: Rock -> Slow songs or fast songs
Support: 0.7683168316831683
Confidence: 0.9194312796208531

Rule: Music, Pop -> Slow songs or fast songs
Support: 0.7099009900990099
Confidence: 0.9227799227799227

Rule: Music, Slow songs or fast songs -> Pop
Support: 0.7099009900990099
Confidence: 0.7949002217294899

Rule: Pop, Slow songs or fast songs -> Music
Support: 0.7099009900990099
Confidence: 0.9808481532147743

Rule: Music -> Pop, Slow songs or fast songs
Support: 0.7099009900990099
Confidence: 0.7264437689969605

Rule: Pop -> Music, Slow songs or fast songs
Support: 0.7099009900990099
Confidence: 0.9053030303030303

Rule: Slow songs or fast songs -> Music, Pop
Support: 0.7099009900990099
Confidence: 0.780195865070729

Rule: Music, Slow songs or fast songs -> Rock
Support: 0.7554455445544555
Confidence: 0.8458980044345898

Rule: Music, Rock -> Slow songs or fast songs
Support: 0.7554455445544555
Confidence: 0.9181708784596871

Rule: Slow songs or fast songs, Rock -> Music
Support: 0.7554455445544555
Confidence: 0.9832474226804123

Rule: Music -> Slow songs or fast songs, Rock
Support: 0.7554455445544555
Confidence: 0.7730496453900709

Rule: Slow songs or fast songs -> Music, Rock
Support: 0.7554455445544555
Confidence: 0.8302502720348204

Rule: Rock -> Music, Slow songs or fast songs
Support: 0.7554455445544555
Confidence: 0.9040284360189574

#################################电影数据集######################################

In [98]:
import os
import pandas as pd
import numpy as np
import sys
from operator import itemgetter
from collections import defaultdict

In [99]:
# 加载数据
all_ratings = pd.read_csv("./dataset/关联分析/电影推荐数据集/ratings.csv")
all_movies =pd.read_csv('./dataset/关联分析/电影推荐数据集/movies.csv')

In [100]:
all_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [101]:
all_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [102]:
all_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [103]:
# 使用 merge 方法连接两个 DataFrame
merged_df = pd.merge(all_ratings,all_movies, on='movieId')
merged_df

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,7,31,3.0,851868750,Dangerous Minds (1995),Drama
2,31,31,4.0,1273541953,Dangerous Minds (1995),Drama
3,32,31,4.0,834828440,Dangerous Minds (1995),Drama
4,36,31,3.0,847057202,Dangerous Minds (1995),Drama
...,...,...,...,...,...,...
99999,664,64997,2.5,1343761859,War of the Worlds (2005),Action|Sci-Fi
100000,664,72380,3.5,1344435977,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller
100001,665,129,3.0,995232528,Pie in the Sky (1996),Comedy|Romance
100002,665,4736,1.0,1010197684,Summer Catch (2001),Comedy|Drama|Romance
100003,668,6425,1.0,993613478,"6th Man, The (Sixth Man, The) (1997)",Comedy

In [104]:
# 电影分数都有哪几档
merged_df["rating"].unique().tolist()

[2.5, 3.0, 4.0, 3.5, 1.5, 4.5, 2.0, 5.0, 1.0, 0.5]

In [105]:
# 解析时间戳
merged_df["timestamp"] = pd.to_datetime(merged_df["timestamp"], unit='s')
merged_df["timestamp"]

0        2009-12-14 02:52:24
1        1996-12-29 14:12:30
2        2010-05-11 01:39:13
3        1996-06-15 08:47:20
4        1996-11-03 21:40:02
                 ...
99999    2012-07-31 19:10:59
100000   2012-08-08 14:26:17
100001   2001-07-15 21:28:48
100002   2002-01-05 02:28:04
100003   2001-06-27 03:44:38
Name: timestamp, Length: 100004, dtype: datetime64[ns]

In [106]:
# 用户是不是喜欢某一部电影，评分高于3的认定为喜欢
merged_df['Favorable'] = merged_df['rating'] > 3
merged_df

,userId,movieId,rating,timestamp,title,genres,Favorable
0,1,31,2.5,2009-12-14 02:52:24,Dangerous Minds (1995),Drama,False
1,7,31,3.0,1996-12-29 14:12:30,Dangerous Minds (1995),Drama,False
2,31,31,4.0,2010-05-11 01:39:13,Dangerous Minds (1995),Drama,True
3,32,31,4.0,1996-06-15 08:47:20,Dangerous Minds (1995),Drama,True
4,36,31,3.0,1996-11-03 21:40:02,Dangerous Minds (1995),Drama,False
...,...,...,...,...,...,...,...
99999,664,64997,2.5,2012-07-31 19:10:59,War of the Worlds (2005),Action|Sci-Fi,False
100000,664,72380,3.5,2012-08-08 14:26:17,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller,True
100001,665,129,3.0,2001-07-15 21:28:48,Pie in the Sky (1996),Comedy|Romance,False
100002,665,4736,1.0,2002-01-05 02:28:04,Summer Catch (2001),Comedy|Drama|Romance,False
100003,668,6425,1.0,2001-06-27 03:44:38,"6th Man, The (Sixth Man, The) (1997)",Comedy,False

In [107]:
user_movie = merged_df.pivot_table(index = 'userId', columns = 'title', values = 'Favorable')
user_movie

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
bool_data = user_movie.notnull()
bool_data

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
668,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
669,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
670,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [109]:
# 计算频繁项集
frequent_itemsets = apriori(bool_data, min_support=0.3,use_colnames=True)
print(frequent_itemsets)

     support                                           itemsets
0   0.320417                                   (Aladdin (1992))
1   0.327869                           (American Beauty (1999))
2   0.336811                        (Back to the Future (1985))
3   0.339791                                (Braveheart (1995))
4   0.301043                        (Dances with Wolves (1990))
5   0.333830                                     (Fargo (1996))
6   0.301043                                (Fight Club (1999))
7   0.508197                              (Forrest Gump (1994))
8   0.317437                             (Fugitive, The (1993))
9   0.324888             (Independence Day (a.k.a. ID4) (1996))
10  0.408346                             (Jurassic Park (1993))
11  0.385991                               (Matrix, The (1999))
12  0.482861                              (Pulp Fiction (1994))
13  0.327869  (Raiders of the Lost Ark (Indiana Jones and th...
14  0.363636                          (Schindler's List (1993))
15  0.463487                 (Shawshank Redemption, The (1994))
16  0.453055                 (Silence of the Lambs, The (1991))
17  0.433681        (Star Wars: Episode IV - A New Hope (1977))
18  0.348733  (Star Wars: Episode V - The Empire Strikes Bac...
19  0.323398  (Star Wars: Episode VI - Return of the Jedi (1...
20  0.353204                (Terminator 2: Judgment Day (1991))
21  0.368107                                 (Toy Story (1995))
22  0.329359        (Forrest Gump (1994), Jurassic Park (1993))
23  0.344262         (Forrest Gump (1994), Pulp Fiction (1994))
24  0.321908  (Forrest Gump (1994), Shawshank Redemption, Th...
25  0.338301  (Forrest Gump (1994), Silence of the Lambs, Th...
26  0.326379  (Pulp Fiction (1994), Shawshank Redemption, Th...
27  0.333830  (Pulp Fiction (1994), Silence of the Lambs, Th...
28  0.308495  (Silence of the Lambs, The (1991), Shawshank R...
29  0.302534  (Star Wars: Episode IV - A New Hope (1977), St...

In [110]:
# 根据频繁项集生成关联规则
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [111]:
print(rules)

                                          antecedents  \
0                               (Forrest Gump (1994))
1                              (Jurassic Park (1993))
2                               (Forrest Gump (1994))
3                               (Pulp Fiction (1994))
4                               (Forrest Gump (1994))
5                  (Shawshank Redemption, The (1994))
6                               (Forrest Gump (1994))
7                  (Silence of the Lambs, The (1991))
8                               (Pulp Fiction (1994))
9                  (Shawshank Redemption, The (1994))
10                              (Pulp Fiction (1994))
11                 (Silence of the Lambs, The (1991))
12                 (Silence of the Lambs, The (1991))
13                 (Shawshank Redemption, The (1994))
14        (Star Wars: Episode IV - A New Hope (1977))
15  (Star Wars: Episode V - The Empire Strikes Bac...

                                          consequents  antecedent support  \
0                              (Jurassic Park (1993))            0.508197
1                               (Forrest Gump (1994))            0.408346
2                               (Pulp Fiction (1994))            0.508197
3                               (Forrest Gump (1994))            0.482861
4                  (Shawshank Redemption, The (1994))            0.508197
5                               (Forrest Gump (1994))            0.463487
6                  (Silence of the Lambs, The (1991))            0.508197
7                               (Forrest Gump (1994))            0.453055
8                  (Shawshank Redemption, The (1994))            0.482861
9                               (Pulp Fiction (1994))            0.463487
10                 (Silence of the Lambs, The (1991))            0.482861
11                              (Pulp Fiction (1994))            0.453055
12                 (Shawshank Redemption, The (1994))            0.453055
13                 (Silence of the Lambs, The (1991))            0.463487
14  (Star Wars: Episode V - The Empire Strikes Bac...            0.433681
15        (Star Wars: Episode IV - A New Hope (1977))            0.348733

    consequent support   support  confidence      lift  leverage  conviction  \
0             0.408346  0.329359    0.648094  1.587120  0.121839    1.681284
1             0.508197  0.329359    0.806569  1.587120  0.121839    2.542530
2             0.482861  0.344262    0.677419  1.402927  0.098874    1.603130
3             0.508197  0.344262    0.712963  1.402927  0.098874    1.713379
4             0.463487  0.321908    0.633431  1.366663  0.086365    1.463607
5             0.508197  0.321908    0.694534  1.366663  0.086365    1.610009
6             0.453055  0.338301    0.665689  1.469334  0.108060    1.636037
7             0.508197  0.338301    0.746711  1.469334  0.108060    1.941665
8             0.463487  0.326379    0.675926  1.458348  0.102578    1.655525
9             0.482861  0.326379    0.704180  1.458348  0.102578    1.748153
10            0.453055  0.333830    0.691358  1.525991  0.115067    1.772101
11            0.482861  0.333830    0.736842  1.525991  0.115067    1.965127
12            0.463487  0.308495    0.680921  1.469125  0.098509    1.681442
13            0.453055  0.308495    0.665595  1.469125  0.098509    1.635575
14            0.348733  0.302534    0.697595  2.000367  0.151295    2.153621
15            0.433681  0.302534    0.867521  2.000367  0.151295    4.274794

    zhangs_metric
0        0.752187
1        0.625244
2        0.583983
3        0.555373
4        0.545525
5        0.500064
6        0.649486
7        0.584007
8        0.607753
9        0.585807
10       0.666529
11       0.630206
12       0.583830
13       0.595183
14       0.883057
15       0.767875

In [112]:
# 打印关联规则
for _, rule in rules.iterrows():
    antecedents = ", ".join([str(item) for item in rule['antecedents']])
    consequents = ", ".join([str(item) for item in rule['consequents']])
    print(f"Rule: {antecedents} -> {consequents}")
    print(f"Support: {rule['support']}")
    print(f"Confidence: {rule['confidence']}")
    print()

Rule: Forrest Gump (1994) -> Jurassic Park (1993)
Support: 0.3293591654247392
Confidence: 0.6480938416422287

Rule: Jurassic Park (1993) -> Forrest Gump (1994)
Support: 0.3293591654247392
Confidence: 0.8065693430656935

Rule: Forrest Gump (1994) -> Pulp Fiction (1994)
Support: 0.3442622950819672
Confidence: 0.6774193548387096

Rule: Pulp Fiction (1994) -> Forrest Gump (1994)
Support: 0.3442622950819672
Confidence: 0.7129629629629629

Rule: Forrest Gump (1994) -> Shawshank Redemption, The (1994)
Support: 0.32190760059612517
Confidence: 0.6334310850439883

Rule: Shawshank Redemption, The (1994) -> Forrest Gump (1994)
Support: 0.32190760059612517
Confidence: 0.6945337620578778

Rule: Forrest Gump (1994) -> Silence of the Lambs, The (1991)
Support: 0.338301043219076
Confidence: 0.6656891495601173

Rule: Silence of the Lambs, The (1991) -> Forrest Gump (1994)
Support: 0.338301043219076
Confidence: 0.7467105263157895

Rule: Pulp Fiction (1994) -> Shawshank Redemption, The (1994)
Support: 0.3263785394932936
Confidence: 0.6759259259259259

Rule: Shawshank Redemption, The (1994) -> Pulp Fiction (1994)
Support: 0.3263785394932936
Confidence: 0.7041800643086817

Rule: Pulp Fiction (1994) -> Silence of the Lambs, The (1991)
Support: 0.33383010432190763
Confidence: 0.6913580246913581

Rule: Silence of the Lambs, The (1991) -> Pulp Fiction (1994)
Support: 0.33383010432190763
Confidence: 0.736842105263158

Rule: Silence of the Lambs, The (1991) -> Shawshank Redemption, The (1994)
Support: 0.30849478390462
Confidence: 0.680921052631579

Rule: Shawshank Redemption, The (1994) -> Silence of the Lambs, The (1991)
Support: 0.30849478390462
Confidence: 0.6655948553054662

Rule: Star Wars: Episode IV - A New Hope (1977) -> Star Wars: Episode V - The Empire Strikes Back (1980)
Support: 0.3025335320417288
Confidence: 0.6975945017182131

Rule: Star Wars: Episode V - The Empire Strikes Back (1980) -> Star Wars: Episode IV - A New Hope (1977)
Support: 0.3025335320417288
Confidence: 0.8675213675213675

########################################## 商场购物数据集##############################################

In [123]:
import pandas as pd

# 创建购买数据的列表
purchase_data = []

# 打开文本文件并按行读取
with open('./dataset/关联分析/商场购物记录数据集/shopping-record.txt', 'r') as file:
    # 逐行读取文件内容
    for line in file:
        # 移除行末尾的换行符和空格
        line = line.strip()
        # 检查行是否为空
        if line:
            # 将逗号分隔的商品列表拆分成一个商品数组
            items = line.split(',')
            # 将商品数组存储到购买数据列表中
            purchase_data.append(items)

# 获取所有唯一的商品列表
unique_items = set([item for purchase in purchase_data for item in purchase])

# 创建一个空的字典来存储是否购买商品的信息
purchase_dict = {item: [] for item in unique_items}

# 填充购买字典
for purchase in purchase_data:
    for item in unique_items:
        if item in purchase:
            purchase_dict[item].append(1)  # 商品被购买
        else:
            purchase_dict[item].append(0)  # 商品未被购买

# 创建是否购买商品的DataFrame
df = pd.DataFrame(purchase_dict)

# 打印DataFrame
for i in df.columns:
    print(df[i].value_counts())

0    9834
1       1
Name: baby food, dtype: int64
0    9508
1     327
Name: hamburger meat, dtype: int64
0    9776
1      59
Name: kitchen towels, dtype: int64
0    9827
1       8
Name: whisky, dtype: int64
0    9687
1     148
Name: pasta, dtype: int64
0    9511
1     324
Name: hygiene articles, dtype: int64
0    9726
1     109
Name: liquor, dtype: int64
0    9556
1     279
Name: frozen meals, dtype: int64
0    9732
1     103
Name: dish cleaner, dtype: int64
0    9665
1     170
Name: potted plants, dtype: int64
0    9667
1     168
Name: soft cheese, dtype: int64
0    9815
1      20
Name: prosecco, dtype: int64
0    8120
1    1715
Name: soda, dtype: int64
0    9530
1     305
Name: onions, dtype: int64
0    9628
1     207
Name: chewing gum, dtype: int64
0    9831
1       4
Name: kitchen utensil, dtype: int64
0    9661
1     174
Name: baking powder, dtype: int64
0    9675
1     160
Name: herbs, dtype: int64
0    9820
1      15
Name: honey, dtype: int64
0    9803
1      32
Name: syrup, dtype: int64
0    7322
1    2513
Name: whole milk, dtype: int64
0    9756
1      79
Name: Instant food products, dtype: int64
0    9802
1      33
Name: nuts/prunes, dtype: int64
0    9457
1     378
Name: waffles, dtype: int64
0    9785
1      50
Name: curd cheese, dtype: int64
0    9259
1     576
Name: margarine, dtype: int64
0    9810
1      25
Name: cooking chocolate, dtype: int64
0    9130
1     705
Name: whipped/sour cream, dtype: int64
0    8911
1     924
Name: sausage, dtype: int64
0    8960
1     875
Name: pastry, dtype: int64
0    7932
1    1903
Name: other vegetables, dtype: int64
0    9579
1     256
Name: ham, dtype: int64
0    9687
1     148
Name: canned fish, dtype: int64
0    9818
1      17
Name: specialty vegetables, dtype: int64
0    9764
1      71
Name: popcorn, dtype: int64
0    9734
1     101
Name: condensed milk, dtype: int64
0    9717
1     118
Name: mustard, dtype: int64
0    9755
1      80
Name: turkey, dtype: int64
0    9826
1       9
Name: liqueur, dtype: int64
0    9720
1     115
Name: frozen fish, dtype: int64
0    9813
1      22
Name: cocoa drinks, dtype: int64
0    9581
1     254
Name: meat, dtype: int64
0    8026
1    1809
Name: rolls/buns, dtype: int64
0    9778
1      57
Name: dental care, dtype: int64
0    9762
1      73
Name: instant coffee, dtype: int64
0    9793
1      42
Name: ketchup, dtype: int64
0    9311
1     524
Name: curd, dtype: int64
0    9820
1      15
Name: decalcifier, dtype: int64
0    9747
1      88
Name: candles, dtype: int64
0    9790
1      45
Name: male cosmetics, dtype: int64
0    9648
1     187
Name: white wine, dtype: int64
0    9467
1     368
Name: long life bakery product, dtype: int64
0    9803
1      32
Name: artif. sweetener, dtype: int64
0    9672
1     163
Name: processed cheese, dtype: int64
0    9799
1      36
Name: specialty fat, dtype: int64
0    9050
1     785
Name: newspapers, dtype: int64
0    9746
1      89
Name: chocolate marshmallow, dtype: int64
0    9646
1     189
Name: detergent, dtype: int64
0    9470
1     365
Name: dessert, dtype: int64
0    9744
1      91
Name: photo/film, dtype: int64
0    8748
1    1087
Name: bottled water, dtype: int64
0    9043
1     792
Name: bottled beer, dtype: int64
0    9661
1     174
Name: semi-finished bread, dtype: int64
0    9541
1     294
Name: candy, dtype: int64
0    9813
1      22
Name: organic sausage, dtype: int64
0    8463
1    1372
Name: yogurt, dtype: int64
0    9794
1      41
Name: light bulbs, dtype: int64
0    9362
1     473
Name: frozen vegetables, dtype: int64
0    9723
1     112
Name: cling film/bags, dtype: int64
0    9502
1     333
Name: sugar, dtype: int64
0    9812
1      23
Name: pudding powder, dtype: int64
0    9822
1      13
Name: cream, dtype: int64
0    9745
1      90
Name: mayonnaise, dtype: int64
0    9445
1     390
Name: cream cheese, dtype: int64
0    9124
1     711
Name: fruit/vegetable juice, dtype: int64
0    9729
1     106
Name: canned vegetables, dtype: int64
0    9824
1      11
Name: hair spray, dtype: int64
0    9560
1     275
Name: butter milk, dtype: int64
0    9768
1      67
Name: soups, dtype: int64
0    9594
1     241
Name: sliced cheese, dtype: int64
0    9506
1     329
Name: UHT-milk, dtype: int64
0    9071
1     764
Name: canned beer, dtype: int64
0    9594
1     241
Name: hard cheese, dtype: int64
0    9615
1     220
Name: grapes, dtype: int64
0    9463
1     372
Name: salty snack, dtype: int64
0    9829
1       6
Name: baby cosmetics, dtype: int64
0    9780
1      55
Name: sparkling wine, dtype: int64
0    9705
1     130
Name: cake bar, dtype: int64
0    9817
1      18
Name: ready soups, dtype: int64
0    9794
1      41
Name: brandy, dtype: int64
0    9823
1      12
Name: frozen fruits, dtype: int64
0    9742
1      93
Name: pet care, dtype: int64
0    9197
1     638
Name: brown bread, dtype: int64
0    8866
1     969
Name: shopping bags, dtype: int64
0    9751
1      84
Name: specialty cheese, dtype: int64
0    9806
1      29
Name: fish, dtype: int64
0    9785
1      50
Name: liver loaf, dtype: int64
0    9833
1       2
Name: preservation products, dtype: int64
0    8803
1    1032
Name: tropical fruit, dtype: int64
0    9413
1     422
Name: chicken, dtype: int64
0    9752
1      83
Name: frozen potato products, dtype: int64
0    9255
1     580
Name: frankfurter, dtype: int64
0    9757
1      78
Name: liquor (appetizer), dtype: int64
0    9808
1      27
Name: cookware, dtype: int64
0    9734
1     101
Name: roll products, dtype: int64
0    9771
1      64
Name: finished products, dtype: int64
0    8763
1    1072
Name: root vegetables, dtype: int64
0    9807
1      28
Name: potato products, dtype: int64
0    9784
1      51
Name: spices, dtype: int64
0    9091
1     744
Name: pip fruit, dtype: int64
0    9791
1      44
Name: rum, dtype: int64
0    9781
1      54
Name: softener, dtype: int64
0    9559
1     276
Name: oil, dtype: int64
0    9021
1     814
Name: citrus fruit, dtype: int64
0    9695
1     140
Name: seasonal products, dtype: int64
0    9606
1     229
Name: cat food, dtype: int64
0    9646
1     189
Name: red/blush wine, dtype: int64
0    9800
1      35
Name: skin care, dtype: int64
0    9729
1     106
Name: salt, dtype: int64
0    9805
1      30
Name: snack products, dtype: int64
0    9319
1     516
Name: beef, dtype: int64
0    9264
1     571
Name: coffee, dtype: int64
0    9779
1      56
Name: cereals, dtype: int64
0    9808
1      27
Name: bathroom cleaner, dtype: int64
0    9320
1     515
Name: napkins, dtype: int64
0    9347
1     488
Name: chocolate, dtype: int64
0    9659
1     176
Name: pickled vegetables, dtype: int64
0    9421
1     414
Name: white bread, dtype: int64
0    9751
1      84
Name: dog food, dtype: int64
0    9829
1       6
Name: frozen chicken, dtype: int64
0    9809
1      26
Name: soap, dtype: int64
0    9579
1     256
Name: beverages, dtype: int64
0    9707
1     128
Name: packaged fruit/vegetables, dtype: int64
0    9793
1      42
Name: meat spreads, dtype: int64
0    9828
1       7
Name: toilet cleaner, dtype: int64
0    9800
1      35
Name: abrasive cleaner, dtype: int64
0    9290
1     545
Name: butter, dtype: int64
0    9831
1       4
Name: bags, dtype: int64
0    9827
1       8
Name: salad dressing, dtype: int64
0    9746
1      89
Name: sweet spreads, dtype: int64
0    9211
1     624
Name: domestic eggs, dtype: int64
0    9566
1     269
Name: specialty bar, dtype: int64
0    9825
1      10
Name: rubbing alcohol, dtype: int64
0    9760
1      75
Name: rice, dtype: int64
0    9729
1     106
Name: frozen dessert, dtype: int64
0    9725
1     110
Name: spread cheese, dtype: int64
0    9819
1      16
Name: organic products, dtype: int64
0    9816
1      19
Name: flower soil/fertilizer, dtype: int64
0    9827
1       8
Name: make up remover, dtype: int64
0    9753
1      82
Name: house keeping products, dtype: int64
0    9781
1      54
Name: sauces, dtype: int64
0    9508
1     327
Name: berries, dtype: int64
0    9785
1      50
Name: cleaner, dtype: int64
0    9834
1       1
Name: sound storage medium, dtype: int64
0    9771
1      64
Name: vinegar, dtype: int64
0    9812
1      23
Name: tidbits, dtype: int64
0    9536
1     299
Name: specialty chocolate, dtype: int64
0    9556
1     279
Name: misc. beverages, dtype: int64
0    9797
1      38
Name: tea, dtype: int64
0    9268
1     567
Name: pork, dtype: int64
0    9733
1     102
Name: flower (seeds), dtype: int64
0    9664
1     171
Name: flour, dtype: int64
0    9803
1      32
Name: canned fruit, dtype: int64
0    9775
1      60
Name: female sanitary products, dtype: int64
0    9767
1      68
Name: zwieback, dtype: int64
0    9589
1     246
Name: ice cream, dtype: int64
0    9662
1     173
Name: dishes, dtype: int64
0    9782
1      53
Name: jam, dtype: int64
0    9804
1      31
Name: nut snack, dtype: int64

In [124]:
# 计算频繁项集
frequent_itemsets = apriori(df, min_support=0.01,use_colnames=True)
print(frequent_itemsets)

c:\Users\X2931\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                           itemsets
0    0.033249                                   (hamburger meat)
1    0.015048                                            (pasta)
2    0.032944                                 (hygiene articles)
3    0.011083                                           (liquor)
4    0.028368                                     (frozen meals)
..        ...                                                ...
328  0.012201    (other vegetables, root vegetables, rolls/buns)
329  0.012303         (yogurt, tropical fruit, other vegetables)
330  0.012913        (yogurt, root vegetables, other vegetables)
331  0.012303  (tropical fruit, root vegetables, other vegeta...
332  0.010371  (citrus fruit, root vegetables, other vegetables)

[333 rows x 2 columns]

In [125]:
# 根据频繁项集生成关联规则
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [126]:
print(rules)

                               antecedents         consequents  \
0   (whipped/sour cream, other vegetables)        (whole milk)
1             (whipped/sour cream, yogurt)        (whole milk)
2               (yogurt, other vegetables)        (whole milk)
3            (pip fruit, other vegetables)        (whole milk)
4               (other vegetables, butter)        (whole milk)
5        (domestic eggs, other vegetables)        (whole milk)
6            (root vegetables, rolls/buns)        (whole milk)
7                           (yogurt, curd)        (whole milk)
8                 (yogurt, tropical fruit)        (whole milk)
9                (yogurt, root vegetables)        (whole milk)
10       (tropical fruit, root vegetables)        (whole milk)
11           (root vegetables, rolls/buns)  (other vegetables)
12               (yogurt, root vegetables)  (other vegetables)
13       (tropical fruit, root vegetables)  (other vegetables)
14         (citrus fruit, root vegetables)  (other vegetables)

    antecedent support  consequent support   support  confidence      lift  \
0             0.028876            0.255516  0.014642    0.507042  1.984385
1             0.020742            0.255516  0.010880    0.524510  2.052747
2             0.043416            0.255516  0.022267    0.512881  2.007235
3             0.026131            0.255516  0.013523    0.517510  2.025351
4             0.020031            0.255516  0.011490    0.573604  2.244885
5             0.022267            0.255516  0.012303    0.552511  2.162336
6             0.024301            0.255516  0.012710    0.523013  2.046888
7             0.017285            0.255516  0.010066    0.582353  2.279125
8             0.029283            0.255516  0.015150    0.517361  2.024770
9             0.025826            0.255516  0.014540    0.562992  2.203354
10            0.021047            0.255516  0.011998    0.570048  2.230969
11            0.024301            0.193493  0.012201    0.502092  2.594890
12            0.025826            0.193493  0.012913    0.500000  2.584078
13            0.021047            0.193493  0.012303    0.584541  3.020999
14            0.017692            0.193493  0.010371    0.586207  3.029608

    leverage  conviction  zhangs_metric
0   0.007263    1.510239       0.510816
1   0.005580    1.565719       0.523711
2   0.011174    1.528340       0.524577
3   0.006846    1.543003       0.519843
4   0.006371    1.745992       0.565878
5   0.006613    1.663694       0.549779
6   0.006500    1.560804       0.524192
7   0.005649    1.782567       0.571107
8   0.007668    1.542528       0.521384
9   0.007941    1.703594       0.560625
10  0.006620    1.731553       0.563627
11  0.007499    1.619792       0.629935
12  0.007916    1.613015       0.629266
13  0.008231    1.941244       0.683367
14  0.006948    1.949059       0.681990

In [127]:
# 打印关联规则
for _, rule in rules.iterrows():
    antecedents = ", ".join([str(item) for item in rule['antecedents']])
    consequents = ", ".join([str(item) for item in rule['consequents']])
    print(f"Rule: {antecedents} -> {consequents}")
    print(f"Support: {rule['support']}")
    print(f"Confidence: {rule['confidence']}")
    print()

Rule: whipped/sour cream, other vegetables -> whole milk
Support: 0.014641586171835282
Confidence: 0.5070422535211268

Rule: whipped/sour cream, yogurt -> whole milk
Support: 0.010879511947127605
Confidence: 0.5245098039215685

Rule: yogurt, other vegetables -> whole milk
Support: 0.02226741230299949
Confidence: 0.5128805620608898

Rule: pip fruit, other vegetables -> whole milk
Support: 0.013523131672597865
Confidence: 0.5175097276264592

Rule: other vegetables, butter -> whole milk
Support: 0.011489578037620742
Confidence: 0.5736040609137055

Rule: domestic eggs, other vegetables -> whole milk
Support: 0.012302999491611592
Confidence: 0.5525114155251142

Rule: root vegetables, rolls/buns -> whole milk
Support: 0.012709710218607015
Confidence: 0.5230125523012552

Rule: yogurt, curd -> whole milk
Support: 0.010066090493136757
Confidence: 0.5823529411764706

Rule: yogurt, tropical fruit -> whole milk
Support: 0.015149974580579562
Confidence: 0.517361111111111

Rule: yogurt, root vegetables -> whole milk
Support: 0.014539908490086425
Confidence: 0.562992125984252

Rule: tropical fruit, root vegetables -> whole milk
Support: 0.011997966446365024
Confidence: 0.570048309178744

Rule: root vegetables, rolls/buns -> other vegetables
Support: 0.012201321809862735
Confidence: 0.502092050209205

Rule: yogurt, root vegetables -> other vegetables
Support: 0.012913065582104729
Confidence: 0.5

Rule: tropical fruit, root vegetables -> other vegetables
Support: 0.012302999491611592
Confidence: 0.5845410628019324

Rule: citrus fruit, root vegetables -> other vegetables
Support: 0.010371123538383325
Confidence: 0.5862068965517241